[MASTER]
ignore=docs/*

[MESSAGES CONTROL]
notes=TODO
disable=
    fixme,
    duplicate-code,
    protected-access,
    too-many-locals,
    too-many-branches,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-statements,
    too-many-positional-arguments,
    unbalanced-tuple-unpacking