[MASTER]
ignore=docs/*

[MESSAGES CONTROL]
notes=TODO
disable=
    fixme,
    import-error,
    duplicate-code,
    too-many-locals,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-statements,
    too-many-positional-arguments